<header>
    <ul>
      <li><a class="buttons plain" href="https://education.coursery.co/url-encode-decode.html">URL Encode</a></li>
      <li><a class="buttons plain" href="https://education.coursery.co/html-escape-unescape.html">HTML Escape</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/javascript-escape-unescape.html">JS Escape</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/xml-escape-unescape.html">XML Escape</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/string-util.html">String Utils</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/word-counter.html">Word Counter</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/md5.html">Calculate MD5</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/qr-code-generator.html">QR Code</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/title-maker.html">Title Maker</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/meta-tag-generator.html">Meta Tags</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/secure-password-generator.html">Password Tool</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/memorable-secure-password-generator.html">Easy Password</a></li>
	  <li><a class="buttons plain" href="https://education.coursery.co/jquery-quickstart-snippet.html">jQuery Grabber</a></li>
	</ul>
</header>
